body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(230, 255, 255);
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

.back-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  mix-blend-mode: overlay;
}

@media (max-aspect-ratio: 16/9) {
  .back-vid {
    width: auto;
    height: 100%;
  }
}

@media (min-aspect-ratio: 16/9) {
  .back-vid {
    width: 100%;
    height: auto;
  }
}

header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: rgb(255, 255, 255, 0.123);
  padding: 0 30px;
  box-shadow: 0 0 15px #72a1de68;
  z-index: 999;
}

.left {
  display: flex;
  align-items: center;
}
.left img {
  width: 50px;
  margin: 0 15px;
}

header ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  padding: 15px 15px;
  border-radius: 50px;
  background-color: rgb(0, 0, 69, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px #727fde65;
}

header ul li {
  list-style: none;
}
header ul li a {
  text-decoration: none;
  color: aliceblue;
  font-weight: 700;
  margin: 0 10px;
}

.box-icon{

    display: flex;
    gap: 40px;
}

.box-icon a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    border: 2px solid rgb(183, 221, 255);
    border-radius: 50%;
    transition: 0.3s;
}
 
.box-icon a:hover {
background-color: #727fde;
color: black;
box-shadow: 0 0 15px #727fde68;    
}

.blackhole-box {
 position: absolute;
 top: 0;
 width: 100%;
 justify-content: center;
 mix-blend-mode: lighten;
}

.blackhole-box video {
 width: 100%;
 margin-top: -23%;
}

.hero{
position: relative;
display: flex;
width: 100% ;
height: 100vh;
align-items: center;
justify-content: space-between;

}

.hero-info{
 position: absolute;
 left: 5%;

 
}

.hero-info .hero-info-title{

  color: #727fde;
  padding: 8px 5px;
  border: 1px solid #727fde;
  width: fit-content;
  background-color: #2200493d;
  box-shadow: 0 0 5px #727fde68;
  border-radius: 50px;

}

.hero-info h1{
  font-size: 60px;
  max-width: 600px;
  font-weight: 700;
  line-height: 70px;
  margin-top: 40px;
  margin-bottom: 30px;
}
.hero-info p{
  font-size: 20px;
  max-width: 500px;
  margin-bottom: 40px;
  line-height: 25px;
}

.hero-info button{
  padding: 15px 35px;
  color: white;
  background-color: transparent;
  border: 1px solid #727fde;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px #727fde86;
  transition: 0.3s;
}

.hero-info button:hover{
  box-shadow: 0 0 15px #727fde86;
}

 .gradiant{

  background: linear-gradient(to right,#008baa,#7e42a7, #6600c5, #6070fd, #2a46ff,#0099ff, #008baa);
  background-size: 200%;
background-clip: text;
-webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
  animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient {
 to{
  background-position: 200%;
 }
}

.hero-vid-box{
  position: absolute;
  right: 3%;
}
.hero-vid-box video{
  height: 900px;
  mix-blend-mode: difference;

}